body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: sans-serif;
}

.form-control:focus {
  outline: 0;
  box-shadow: none !important;
}

.whether-block-main {
  background-image: url(https://img.freepik.com/free-photo/sunset-beach_1203-2081.jpg?w=1060&t=st=1678183866~exp=1678184466~hmac=f7fabc9e435cf71eff7dc53101ec769c073dc87a5a3a22ac4fc83f94d1acee9d);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: all .3s ease-in-out;
  height: var(--app-height);
}

.card-block {
  text-align: center;
  height: 450px;
  width: 300px;
  background-color: rgb(161 165 170 / 50%);
  border-radius: 5px;
  backdrop-filter: blur(10px);
  margin-inline: auto;
  padding-top: 15px;
}

form {
  background-color: rgb(248, 248, 248);
  height: 50px;
  width: 260px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-inline: auto;
}

form input {
  outline: none;
  border: none;
  background-color: transparent;
  font-size: 1.2rem;
  text-align: center;
  text-transform: uppercase;
}

.weather-card {
  background-color: rgb(248, 248, 248);
  height: 350px;
  width: 260px;
  margin-top: 10px;
  margin-inline: auto;
  padding: 20px;
}

.weather-card h4 {
  font-size: 18px;
  font-weight: 500;
  margin: 0px;
  padding: 0px 0px 10px;
  color: darkgrey;
}

.weather-card h2 {
  font-size: 36px;
  font-weight: 500;
  margin: 0px;
  padding: 0px 0px 10px;
}

.weather-card p {
  font-size: 18px;
  font-weight: 600;
  margin: 0px;
  padding: 0px 0px 10px;
}

.weather-card p {
  color: #4e4c4c;
}

.weather-card p span {
  font-weight: 700;
  color: #101010;
}